/* HTML Selectors */
body {
    font-family:"Helvetica", sans-serif;
    max-width: 500px;
    margin: auto;
}

main {
    padding: 1em;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
}

#lessons-disclaimer {
    font-style: italic;
    font-size: small;
}

div {
    margin: 10px;
    text-align: center;
}

hr {
    border-top: 3px solid lightgray;
  }

footer {
    font-family: 'Lobster', cursive;
    background-color: #01626E;
    color: white;
    padding: 5px;
    text-align: center;
}

footer p {
    font-family:"Helvetica", sans-serif;
}

header {
    background-color: #01626E;
    color: white;
    margin: auto;
    text-align: center;
    align-items: center;
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
        ". ."; 
}

header img {
    margin: 10px 10px 10px 20px;
}