/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    /*----------- HEADER --------------*/
    header h1 {font-size: 28px;}
    
    
    /*----------- NAVIGATION --------------*/
    nav {margin-left: auto;}

    /* nav{
        position: absolute;
        right: .5rem;
    }

    header div.social {
        margin-left: auto;

    } */
    
    /*----------- MAIN --------------*/
    .main-grid {  
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0 2%; 
        grid-template-areas: 
            "hero hero"
            "news news"
            "spotlight1 spotlight2"
            "join join"
            "event weather"; 
    }
    .hero { grid-area: hero; }
    .news { grid-area: news; }
    .spotlight1 { grid-area: spotlight1; }
    .spotlight2 { grid-area: spotlight2; }
    .join { grid-area: join; }
    .event { grid-area: event; }
    .weather { grid-area: weather; }

    div.action-call {
        top: 50%;
        width: 50%;
    }

    .list section img {
        display: inline;
        width: 150px;
    }

    /*----------- Discover --------------*/
    section.discover-pictures figure img:hover {
        box-shadow: 1px 5px 8px 1px #ccc;
        max-width: 550px;
        width: 120%;
    }

    
    /*----------- FORM --------------*/
    .membershipDetail {
        display: inline;
        color: #77878d;
    }

    
    /*----------- FOOTER --------------*/
    footer address {display: flex;}

    footer address div#address {text-align: start; margin: 0 1rem;}
    footer address div#contact-info{margin-left: auto;}

} /* end of media query */