/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    transition: background-color .5s;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2% 0 2%;
    background-color: #4c6e7e;
}

header div.main-header{
    display: grid;
    grid-template-columns: 100px auto 60px ;
    align-items: center;
}

header div.main-header img.logo {width: 80px;}

header h1 {
    margin: 0; 
    font-family: Libre Baskerville, serif;
    font-size: 20px;
    letter-spacing: .2rem;
    color: #fff;
}

header h3 {
    text-align: center;
    font-size: smaller;
    padding: .5rem; 
    color: #fff;
}

header a:visited {color: #365868;}

/*----------- NAVIGATION --------------*/
header div.main-header nav {
    width: 100%;
    margin-top: 1rem;
    background-color: #ccd9de;
    grid-column: 1 / 4;
    box-shadow: 1px 1px 4px 1px #5c5c5c;
    display: grid;
    grid-template-columns: auto 120px;
}

nav button {
    margin: .2rem 0;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #365868;
    text-align: start;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #365868;
    color: #fff;
}

nav ul li.active a {
    text-decoration: none;
    background-color: #365868;
    color: #fff;
}

nav div.social img {width: 25px;}

nav div.social {margin: 2px auto; padding: 0 10px;}

nav ul {display: none;}
nav ul.open {
    display: block;
    height: 100%;
    width: 65%;
    max-width: 350px;
    background-color: #ccd9de;
    box-shadow: 1px 1px 4px 1px #555555;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: start;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*----------- MAIN --------------*/
h1 {
    font-family: Libre Baskerville, serif;
    text-align: center;
    margin: 3rem 0 1rem 0;
}

div#meeting-message {
    padding: .5rem 2%;
    background-color: #D6CFBA;
}
div.showme {display: block;}
div.hideme {display: none;}

#banner-picture {margin: 2% auto;}
#banner-picture picture img {width: 100%;}

.main-grid {
    margin: 2% auto;
    padding: 0 2%;
}

.hero {
    border-style: none; 
    box-shadow: 1px 1px 4px 1px #ccc;
    border-radius: 4px;
    overflow: hidden;
    min-height: 4rem;
    margin: 10px 0;
    padding: 0;
}

div.hero {position: relative;}

div.hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

div.action-call {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50%;
    background-color: #D6CFBA;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

div.action-call button.hero-button {
    border-radius: 5px;
    padding: .3rem;
    border: none;
    color: #fff;
    background-color: #9c9379;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

div.action-call button.hero-button:hover {
    background-color: #5c584c;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

hr {
    border: .5px solid #ccd9de;
    margin-bottom: 1rem;
    width: 50%;
}

.demographic hr, footer hr {
    width: 100%;
}

h3 {font-family: Libre Baskerville, serif;}

h4 {color: #756A8A; font-size: small;}

.event, .weather, .join, .news, .spotlight1, .spotlight2 {
    border-style: none; 
    box-shadow: 1px 1px 4px 1px #ccc;
    border-radius: 4px;
    margin: 10px 0;
    padding: 2% 15px 8% 15px;
}

.spotlight1 div, .spotlight2 div {
    background-color: #ccd9de;
    min-height: 5rem;
}

div.weather h3 {display: inline;}
div.weather figure {display: inline;}
p.temp {
    font-size: xx-large; 
    text-align: center; 
    line-height: .2; 
    color: #756A8A
}
p.cond {font-size: large; font-weight: bold; text-align: center;}

/*----------- Discover --------------*/
main.discover {
    padding: 0 1rem;
}

section.demographic{
    box-shadow: 1px 1px 4px 1px #ccc;
    border-radius: 4px;
    padding: 2rem;
}

section.discover-pictures {
    margin: 3rem 0;
}

section.discover-pictures figure{
    display: block;
    margin: 0 auto 3rem auto;
    width: fit-content;
}

section.discover-pictures figure img[data-src] {
    filter: blur(0.2em);
}

section.discover-pictures figure img {
    box-shadow: 1px 3px 5px 1px #ccc;
    max-width: 500px;
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
}

section.discover-pictures figure figcaption{
    text-align: center;
    margin: 1rem;
}

div.visits {
    box-shadow: 1px 1px 4px 1px #ccc;
    border-radius: 4px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}


/*----------- FORM --------------*/
form fieldset {
    margin: 2rem auto;
    box-shadow: 1px 1px 4px 1px #ccc;
    border: none;
    border-radius: 4px;
    padding: 2rem;
    width: 95%;
}

form legend {
    color: white;
    margin: 0 1rem;
    padding: .5rem .5rem;
    background-color: #756A8A;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px #ccc;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #756A8A;
    font-size: .8rem;
}

form label.top input, form label.top select, form label.businessDesc textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: .5rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.02);
}

form label.businessDesc textarea {min-height: 150px;}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border:  none;
    background-color: #D6CFBA;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

form input.submitBtn:hover{
    color: white;
    background-color: #9c9379;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

form label.top input:required {
    border-left: #a11414 solid 4px;
}

form label.top input:required:valid {
    border-left: #326b32 solid 4px;
}

.thankMessage, .joinMessage {
    text-align: center;
}

.membershipDetail {
    display: none;
}


/*--------- BUSINESS DIRECTORY ---------*/
.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
    margin: 0 20px;
	padding: 1rem;
    border:  none;
    background-color: #D6CFBA;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    box-shadow: 0 8px 8px 0 #0000004d;
}

.menu button:hover {
    color: white;
    background-color: #9c9379;
    box-shadow: 0 4px 4px 0 #0000004d;
}

.list {
	display: flex;
	flex-direction: column;
}

.grid section > * {margin: 0.1rem;}

.list section {
    display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: left;
    border: none;
    box-shadow: 1px 1px 3px 2px #ccc;
    border-radius: 4px;
    width: 95%;
    height: 200px;
    margin: 2% auto;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
}

.list section div {width: 50%;}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img{display: none;} /* smaller viewports only */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid section {
    flex-direction: column;
	text-align: center;
    border: none;
    box-shadow: 1px 1px 3px 2px #ccc;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    margin: 5% auto;
    padding: 1rem;
    text-align: center;
}

.grid section img {width: 50%;}

.grid section h2, .list section h2 {font-size: medium; color: #a39772;}
.grid section p, a {font-size: small;}
.list section p, a {font-size: small;}


/*----------- FOOTER --------------*/
footer {
    background-color: #4c6e7e;
    color: #fff;
    font-size: small;
    padding: .5rem 2%;
}

footer a:visited {color: #fff;}

footer address {font-style: normal; text-align: center;}
footer address img {width: 100px;}
footer address div#contact-info a {text-decoration: none;}
footer address div p#chamber-name {font-weight: bolder;}

footer div#base-footer {text-align: center;}

.ow-credit {
    width: 80px;
}