/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {



/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.main-header {
    font-size: 50px;
}

/*----------- NAVIGATION --------------*/
.navigation-bar {
    padding: 0 4rem;
    align-items: center;
}

/*----------- MAIN --------------*/
div.action-call {
    font-size: large;
    width: 25%;
}

img.temple-pic {
    max-width: 600px;
    height: 100%;
}

section.weather {
    display: flex;
    padding: 2rem;
    justify-content: center;
}

section.weather figure{margin: 0 5%;}
.forecast div {margin: 0 2%;}

/*----------- FORM --------------*/
   

/*----------- FOOTER --------------*/
footer {
    padding: 1rem 4rem;
}
} /* end of media query */