/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    /*----------- HEADER --------------*/
    
    
    /*----------- NAVIGATION --------------*/
    /* .logo {
        margin: 0 0 0 1rem;
    } */

    .navigation-bar {
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    align-items: center;
    }

    .navigation-bar button {display: none;}

    .navigation-bar nav {grid-column: 2/3;}
    .navigation-bar nav ul#primaryNav {
        display: flex;
        margin: 0;
    }
    
    .navigation-bar nav ul li a {
        padding: 2.5rem 3vw;
    }

    #social {
        grid-column: 3;
        margin: 0;
        display: block;
    }

    /*----------- MAIN --------------*/
    div.action-call {
        bottom: 20%;
        left: 10%;
        width: 250px;
    }

    article.the-temple {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .the-temple div {margin-right: 5%;}

    img.temple-pic {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: auto;
    }

    section.weather{padding: 0 15%;}

    /*----------- TEMPLE CARDS --------------*/
    .temple-cards section {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto 1fr auto; 
        gap: 0px 15px; 
        grid-template-areas: 
            "name name name"
            "img img img"
            "text text text"; 
    }

    .temple-cards section img {
        display: block;
        grid-area: img;
        max-width: 500px;
        margin: 2% auto;
    }

    .temple-cards section h3 {
        grid-area: name; 
        margin: 0;
    }

    .temple-cards section p {margin: 5% 0;}


    /*----------- FORM --------------*/
    form fieldset {max-width: 600px;}
    
    /*----------- FOOTER --------------*/
    footer {
        padding: 1rem 1rem 1rem 0;
        display: grid;
        grid-template-columns: auto 2fr 1fr;
        text-align: start;
        font-size: 14px;
    }

    .footer-address{margin-left: 5%;}

    .base-footer {
        grid-column: 1 / 4;
        text-align: center;
        padding-left: 1rem;
    }

} /* end of media query */