/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*----------- TABLE --------------*/
table {
    border-collapse: collapse;
    border: 1px solid #c8c8c8;
    font-size: 0.8rem;
    margin: 0 auto;
    box-shadow: 5px 5px 8px 1px #ccc;
}

td, th {
    border: 1px solid #c8c8c8;
    padding: 10px 20px;
}

td {
    text-align: center;
}

#headers {
    background-color: #87aff8;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

tr:nth-child(even) td {
    background-color: #dde9f8;
}

tr:nth-child(odd) td {
    background-color: #ddf8f6;
}

#nov-goal {
    background-color: #87aff8;
    color: #fff;
}

#head, #foot{
    background-color: #a7d0f1;
    font-weight: bolder;
}

#head {font-size: 24px;}